<div class="table-container">
    <p-table [value]="productData" styleClass="p-datatable-striped" selectionMode="single" [(selection)]="selectedProduct">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Product Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>