<div class="form-container">
  <div class="p-fluid">
    <div class="p-field p-grid">
      <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name</label>
      <div class="p-col-12 p-md-10">
        <input id="name" type="text" placeholder="Enter Name" pInputText />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email</label>
      <div class="p-col-12 p-md-10">
        <input id="email" type="text" placeholder="Enter Email" pInputText />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="phone" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Phone Number</label>
      <div class="p-col-12 p-md-10">
        <input id="phone" type="number" placeholder="Enter Phone Number" pInputText />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="password" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Password</label>
      <div class="p-col-12 p-md-10">
        <input id="password" type="password" placeholder="Enter Password" pInputText />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="cpassword" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Confirm Password</label>
      <div class="p-col-12 p-md-10">
        <input id="cpassword" type="password" placeholder="Confirm Password" pInputText />
      </div>
    </div>
    <button pButton type="button" label="Save"></button>
  </div>
</div>
